.tap-anim {
  @apply active:bg-black transform transition-transform duration-100 ease-in-out active:scale-90;
}

.area-tap-anim {
  @apply transform transition-transform duration-100 ease-in-out active:scale-x-75 active:scale-y-90;
}

.eclipse-themed-text {
  @apply text-[#ff2075];
}

.eclipse-themed-border {
  @apply border-t-4 sm:border-t-8 border-[#ca336d] rounded-md;
}

.eclipse-themed-border-bottom {
    @apply border-b-4 sm:border-b-8 border-[#ca336d] rounded-md;
}

@keyframes progress {
    0% { width: 0; }
    100% { width: 100%; }
}

.animate-progress {
    animation: progress 2s linear infinite;
}