.tap-anim {
  @apply active:bg-black transform transition-transform duration-75 ease-in-out active:scale-90;
}

.area-tap-anim {
  @apply transform transition-transform duration-75 ease-in-out active:scale-x-75 active:scale-y-90;
}

.eclipse-themed-text {
  @apply text-[#ca336d];
}

.eclipse-themed-button {
  @apply bg-[#ca336d] text-gray-100 font-bold;
}

.dark-gray-color {
  @apply bg-[#121116]
}

.eclipse-themed-border {
  @apply border-t-4 sm:border-t-8 border-[#ca336d] rounded-md;
}

.eclipse-themed-border-bottom {
  @apply border-b-4 sm:border-b-8 border-[#ca336d] rounded-md;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Space between elements */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background for better readability */
  border-radius: 10px; /* Rounded corners */
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-progress {
  font-size: 1.2rem;
  font-weight: bold;
}

.loading-message {
  font-size: 1rem;
  color: #ddd; /* Light gray for better readability */
  max-width: 300px; /* Limit width for better readability */
  line-height: 1.5; /* Improve line spacing */
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}